.card-position{
  display: flex;
  gap: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin: 2rem;
  justify-content: center;
  background: linear-gradient(45deg, rgb(156, 14, 156), lightblue);
}

.Title{
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  text-shadow: 0 0 3px #FF0000, 0 0 5px orange;
  margin-top: 8rem;
  background: linear-gradient(45deg, rgb(156, 14, 156), lightblue);
}

.card>*{
  width: 18rem;
}

@media (max-width: 900px) {
  .card-position {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .card-position {
    flex-direction: column;
  }
}