.skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 12%, rgba(255,89,0,1) 34%, rgba(208,46,46,1) 100%); */
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

}

.main-heading{
  text-shadow: 0 0 3px #FF0000, 0 0 5px orange;
  font-size: 50px;
  margin-bottom: 3rem;
}

.skills {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  width: 100%;
}

.skills-title {
  font-size: 1.2rem;
  text-align: center;
  margin: 1rem 0;
  font-weight: bold;
  padding: 1rem;
}

.skills-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills-list li p {
  padding: 1rem;
  font-size: 1rem;
}

.skill-wrapper {
    border-radius: 1rem;
    border: 2px solid white;
    box-shadow: 5px 5px 10px black;
}

@media (max-width: 900px) {
  .skills-grid {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .skills-grid {
      grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 900px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .skills-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}